<section class="carousel">
  <video
    #video
    @carouselAnimation
    class="video-js"
    id="video-player"
    width="100%"
    controls
    preload="none"
    playsinline
  ></video>

  <ng-container *ngFor="let slide of slides; let i = index">
    <div
      class="slide-container"
      *ngIf="i <= images.length - 1 && i === currentSlide; else videoTemplate"
    >
      <img
        class="slide"
        [src]="images[i].url"
        [alt]="images[i].caption"
        @carouselAnimation
      />
    </div>
    <ng-template #videoTemplate>
      <video
        #video
        @carouselAnimation
        class="video-js"
        id="video-player"
        width="100%"
        controls
        preload="none"
        playsinline
      ></video>
    </ng-template>
  </ng-container>

  <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button>
</section>
