.container {
  justify-content: space-between;
  gap: 15%;
  // .col {
  //   min-width: 300px;
  // }
}

.cart {
  flex: 1;
  min-width: 350px;
  // width: 60%;
  // width: 100%;
  // max-width: 500px;
  .row {
    justify-content: space-between;
    .cell {
      flex: 1;
      max-width: 200px;
    }
  }
}

.payment {
  flex: 1;
}
