$light-gray: hsla(0%, 0%, 0%, 0.1);
.container {
  justify-content: space-between;
  gap: 15%;
}

.cart {
  flex: 1 1 500px;
  height: 100%;
  .row {
    @media (max-width: 492px) {
      padding-bottom: 5rem;
    }
    min-height: 7rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;

    app-item-preview {
      max-width: 100px;
    }

    span {
      text-align: center;
    }
    .cell {
      &.row {
        min-height: 0;
        flex: 1 0 0%;
        height: 100%;
        padding: 22px 0 0 0;
        min-width: 9rem;
        span {
          white-space: nowrap;
          padding: 0.25rem 0;
          margin: 0 1rem;
          border-bottom: 1px dotted hsla(0%, 0%, 0%, 0.2);
        }
      }
      flex: 1 0 auto;

      &.delete {
        border: none;
        max-height: 2rem;
        margin-top: 22px;
        margin-left: 1rem;
        border-radius: 25%;
        background-color: rgb(180, 20, 20);
        flex: 0 0 auto;
        svg {
          padding-top: 20%;
        }
      }
    }
    app-cart-input {
      flex: 1 0 auto;
      max-width: 10rem;
      @media (max-width: 40em) {
        max-width: initial;
        margin: 0 auto;
      }
    }
    &:nth-child(odd) {
      background-color: $light-gray;
    }
  }

  .total {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .total ~ div {
    margin-bottom: 2rem;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.slide-in {
  animation: slide-in 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.checkout {
  flex: 1;
}

.confirm-checkout {
  margin: 3rem 0;
  align-content: center;
  gap: 1rem;
  h3 {
    font-size: 1.5rem;
  }
}
