$dark-gray: hsla(10%, 10%, 10%, 0.7);
$light-gray: hsla(0%, 0%, 0%, 0.1);

.container {
  padding-bottom: 1rem;
}

.header {
  padding: 0 1rem;
  background-color: rgb(10, 10, 10);
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.top-row {
  margin-bottom: 2rem;
  .title {
    font-size: 2.5rem;
  }
  .tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    word-break: break-all;
    .tag {
      font-size: 1.25rem;
      margin: 0 0.25rem;
    }
  }
  button {
    margin-left: auto;
  }
}

.main-content {
  justify-content: space-between;
  gap: 4rem;
  div {
    background-color: white;
  }

  .carousel-container {
    flex: 1;
    height: 800px;
    width: 800px;
  }

  div.info {
    max-width: 100%;
    flex: 1;
    border: 1px solid black;
    box-shadow: 5px 5px 0px 0px rgb(10, 10, 10);
    padding: 1rem;
    &.col {
      gap: 2rem;
      justify-content: space-between;
    }
    h2 {
      font-size: 2rem;
    }
  }

  dl.info {
    margin-bottom: 2rem;
    border: 2px solid black;
    div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.5rem;
    }
    div:nth-child(even) {
      background-color: rgb(50, 50, 50);
      color: white;
    }
    dt,
    dd {
      font-size: 1.5rem;
    }
  }

  pre.description {
    white-space: break-spaces;
    border: 2px solid black;
    padding: 0.5rem;
  }
}

app-add-to-cart {
  margin-left: auto;
  margin-right: auto;
}
