:host {
  &.ng-invalid {
    input {
      border-left: 5px solid red;
    }
  }
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

input {
  display: inline-flex;
  border: 1px solid black;
  width: 100%;
  &[disabled] {
    cursor: not-allowed;
    // !important is needed to override inputs filled by browser autoselect
    background-color: #ededed !important;
  }
}
