.row {
  width: 100%;
  flex-wrap: nowrap;
  gap: 0.5em;
}

.col {
  flex: 1;
  flex-wrap: nowrap;
}

label {
  font-weight: bold;
}

button.quantity {
  max-height: 2rem;
  flex: 0 1 auto;
  margin-top: 22px;
  border: none;
  border-radius: 25%;
  background-color: rgb(20, 20, 20);
  svg {
    padding-top: 25%;
  }
}

input.quantity {
  height: 100%;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 1.25rem;
}

.error {
  border: 1px solid red;
  &:focus-visible {
    outline: none;
  }
}

.error-message {
  max-width: fit-content;
  margin-top: 0.5rem;
  border-left: 2px solid red;
  padding-left: 0.5rem;
}
