* {
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

header {
  margin-bottom: 25px;
}

.logo {
  font-family: 'Poiret One', sans-serif;
  font-size: clamp(3rem, 1rem, 5rem);
  text-align: center;
  border: 1px solid black;
  color: black;
}
nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;

  a {
    flex: 0 1 0%;
    text-decoration: none;
    &:hover {
      color: black !important;
      background-color: rgb(240, 240, 240) !important;
    }
    &.nav-link {
      writing-mode: tb;

      margin-top: 1rem;
      max-width: 5rem;
      text-align: center;
      padding: 0 5px;
      font-family: 'Poiret One', sans-serif;
      font-size: 25px;
      text-transform: lowercase;
      background-color: rgb(200, 200, 200);
      border: 2px inset rgb(200, 200, 200);
      &.active {
        color: white;
        background-color: rgb(10, 10, 10);
        border: 2px inset rgb(200, 200, 200);
      }
    }
  }
}
