<main class="books-list row">
  <ng-container *ngIf="books$ | async as books; else loadingBlock">
    <div class="book-container" *ngFor="let book of books">
      <app-item-preview
        class="book-item"
        [item]="{
          route: '/books/' + book.slug,
          animated: true,
          title: book.title,
          caption: book.images[0].caption,
          url: book.images[0].url
        }"
      ></app-item-preview>
    </div>
  </ng-container>
  <ng-template #loadingBlock>
    <p>Loading books...</p>
  </ng-template>
</main>
