.books {
  margin: 0 auto;
  width: 80%;
}

.books p {
  font-family: 'Poiret One', sans-serif;
  font-size: 40px;
  margin: 50px;
  text-align: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
  }
}
.book-item {
  cursor: pointer;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem;
  &:hover {
    animation: scale 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    box-shadow: 0px 0px 21px -3px #000000bd;
  }
}
