* {
  vertical-align: baseline;
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  margin: 0%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

button,
a {
  cursor: pointer;
}

button {
  padding: 0.1rem 0.5rem;
  transition: background-color 0.25s, box-shadow 0.35s;
  font-size: 1.15rem;
  border: none;

  &:disabled {
    cursor: not-allowed;
    background-color: lightgray !important;
    color: darkgray !important;
  }

  &:hover {
    box-shadow: none !important;
  }

  &.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &.primary {
    color: white;
    background-color: rgb(10, 10, 10);
    border: none;

    &:hover {
      background-color: rgb(60, 60, 60);
    }

    &:not(:disabled) {
      box-shadow: 3px 3px 0px 0px rgb(200, 200, 200);
    }
  }

  &.secondary {
    color: rgb(10, 10, 10);
    background-color: white;
    border: none;

    &:hover {
      background-color: rgb(220, 220, 220);
    }
    &:not(:disabled) {
      box-shadow: 3px 3px 0px 0px rgb(10, 10, 10);
    }
  }
}
