* {
  vertical-align: baseline;
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  margin: 0%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

button,
a {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  background-color: lightgray !important;
  color: darkgray !important;
}
