.row {
  gap: 1rem;
}

app-cart-input {
  flex: 6 0 auto;
}

button.update-cart {
  height: 2rem;
  flex: 1 0 auto;
  margin-top: 22px;
  display: block;
  font-weight: bold;
  min-width: 150px;
}
